*{
    background-color: #9db684;
    font-family: Arial, Helvetica, sans-serif;
    color: #2C3325;
    padding: 10px;
}
h1, h2{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
h1{
    font-size: 3em;
}
button{
    border-color:#2C3325;
    width: 300px;
}
#myform{
    background-color:#546147;
    border-radius: 10px;
    width: 400px;
    
}
#loggain{
    display: flex;
    align-items: center;
    justify-content: center;

}
#box{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    
}
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C3325;
}
.style{
    background-color: white;
}

.infostyle {
  white-space: pre-line;
  background-color: white;
  border-radius: 10px;
  width: 300px;
  padding:20px;
 
}
.b{
     display: flex;
    align-items: center;
    justify-content:center;
}