*{
    background-color: #667557;
    font-family: Arial, Helvetica, sans-serif;
    color: #2C3325;
    padding: 10px;
}
h1, h2{
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: #7EA05C; background-color: #768666;*/
    
    
}
button{
    border-color:#2C3325;
    width: 300px;
}
#myform{
    background-color:#2C3325;
}
#box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #667557;
    
}
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C3325;
}
.stil{
    background-color: white;
}

#info {
  white-space: pre-line;
}
